@model CouponCreateViewModel

<form asp-controller="Coupon" asp-action="Create">
  <input type="text" hidden value="true" asp-for="Coupon.Active" />
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Code</label>
      <input type="text" class="form-control" placeholder="Code" asp-for="Coupon.Code">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Percentage Discount</label>
      <input type="text" class="form-control" placeholder="Discount Percentage" asp-for="Coupon.DiscountPercentage">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Quantity</label>
      <input type="text" class="form-control" placeholder="Quantity" asp-for="Coupon.Quantity">
    </div>
  </div>
  <button type="button" class="btn btn-primary" id="btnProduct">Add Coupon To a Product</button>
  <select id="productDropdown" style="display: none;" asp-for="Coupon.ProductID"
      asp-items="@(new SelectList(Model.Products, nameof(Product.ID), nameof(Product.Name)))">
      <option>Select a Product</option>
  </select>
  <button type="button" class="btn btn-secondary" id="btnCategory">Add Coupon To a Category</button>
  <select id="categoryDropdown" style="display: none;" asp-for="Coupon.CategoryID"
          asp-items="@(new SelectList(Model.Categories, nameof(Category.ID), nameof(Category.Name)))">
    <option>Select a Category</option>
  </select>
  
  <button type="submit" class="btn btn-primary">Create Coupon</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function () {
    $("#btnProduct").click(function () {
      $("#productDropdown").show();
      $("#categoryDropdown").hide();
    });

    $("#btnCategory").click(function () {
      $("#categoryDropdown").show();
      $("#productDropdown").hide();
    });
  });
</script>
