@{
    Layout = null;
}
<link href="~/css/about.css" rel="stylesheet" />
<link href="~/css/general.css" rel="stylesheet" />
<link href="~/css/header.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body style="background-color: #333">

    <header class="header">
        <partial name="_HeaderPartial" />
    </header>
    <div class="outer-about-container">
        <div class="shop-about-container">
            <div class="about-text-box">
                <h1 class="about-heading">Welcome to The Flaming Shop</h1>
                <p class="about-paragraph">Discover a world of fiery products at The Flaming Shop! We specialize in offering a wide range of high-quality items that ignite your passions. From scorching fashion to blazing home decor, we have everything you need to add a spark to your life.</p>
                <p class="about-paragraph">Explore our collections and find the perfect flames to fuel your style. Whether you're looking for a sizzling outfit to turn heads or unique accessories to make a statement, we've got you covered. With our convenient online shopping experience, you can shop from the comfort of your own home and have your items delivered straight to your doorstep.</p>
                <p class="about-paragraph">Join us at The Flaming Shop and let your personality shine bright. Embrace the heat and unleash your inner fire with our curated selection of products. Start browsing now and ignite your passion for shopping!</p>
                <h1 class="since-text">Since 2022, helping people in finding their favorite products!</h1>
                <div class="about-icons-container">
                    <div class="about-icon">
                        <i class="fa-solid fa-users fa-2xl"></i>
                        <p class="about-text">100+ Colaborators</p>
                    </div>
                    <div class="about-icon">
                        <i class="fa-solid fa-location-dot fa-2xl"></i>
                        <p class="about-text">1000+ Cities Delivery</p>
                    </div>
                    <div class="about-icon">
                        <i class="fa-solid fa-user fa-2xl"></i>
                        <p class="about-text">20000+ Clients</p>
                    </div>
                    <div class="about-icon">
                        <i class="fa-solid fa-boxes-packing fa-2xl"></i>
                        <p class="about-text">500000+ Orders</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/8da1ba04bb.js" crossorigin="anonymous"></script>

</body>