@{
    Layout = null;
}
@model AppLogin

<link rel="stylesheet" href="~/css/loginForm.css" />
<link rel="stylesheet" href="~/css/general.css" />

<div class="login-form-container">
    <h1>Welcome!</h1>
    <form asp-controller="AppUser" asp-action="Login">

      <input type="text"  placeholder="Username" asp-for="Username">

      <input type="password"  placeholder="Password" asp-for="Password">
      <button type="submit" >Login</button>
    </form>
</div>
