body {
    background-image: url(https://images4.alphacoders.com/129/1297452.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    width: 400px;
    background: linear-gradient(135deg, #8d78c0, #4e3785);
    border-radius: 9px;
    color: lightgray;
}

input {
    font-family: Arial;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: rgb(136, 107, 160);
    background: none;
    padding: 5px;
    color: lightgray;
}

 input:focus{
    outline: none;
}

input::placeholder {
    color: lightgray;
}

h1{
    font-family: Arial;
    animation-name: appear;
    animation-duration: 4s;
    margin-bottom: 15px;
}

@keyframes appear{
    from{opacity: 0}
}

button, .register-button {
    position: relative;
    top: 15px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid lightblue;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: lightgray;
    width: 100%;
    transition: background-color 0.5s, box-shadow 0.5s;
    margin-bottom: 10px;
}

button:hover, .register-button:hover {
    cursor: pointer;
    background-color: rgb(66, 155, 210);
    border: none;
    box-shadow: 0px 0px 5px lightblue;
}

.error-login {
    color: palevioletred;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;
}
