.responsive-container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (max-width: 5040px) {
    .responsive-container {
        max-width: 3000px;
    }

    .products-display-grid {
        grid-template-columns: 400px 400px 400px 400px 400px 400px;
    }
}
@media (max-width: 3840px) {
    .responsive-container {
        max-width: 2200px;
    }

    .products-display-grid {
        grid-template-columns: 400px 400px 400px 400px 400px;
    }
}
@media (max-width: 2560px) {
    .responsive-container {
        max-width: 1800px;
    }

    .products-display-grid {
        grid-template-columns: 400px 400px 400px 400px;
    }
}

@media (max-width: 2160px) {
    .responsive-container {
        max-width: 1536px;
    }

    .products-display-grid {
        grid-template-columns: 400px 400px 400px
    }


}

/* 2xl */
@media (max-width: 1700px) {
    .responsive-container {
        max-width: 1280px;
    }

    .products-display-grid{
        grid-template-columns: 400px 400px;
        margin-left: 100px;
    }

    .products-index-grid{
        grid-template-columns: 400px 400px;
    }

    .banner-container{

    }
}

/* xl */
@media (max-width: 1250px) {
    .responsive-container {
        max-width: 1024px;
    }
    .products-display-grid {
        grid-template-columns: 400px 400px;
        margin-left: 100px;
    }
}

/* lg */
@media (max-width: 1150px) {
    .responsive-container {
        max-width: 768px;
    }
    .products-display-grid {
        grid-template-columns: 500px;
    }

}

/* md */
@media (max-width: 768px) {
    .responsive-container {
        max-width: 640px;
    }
}

/* sm */
@media (max-width: 640px) {
    .responsive-container {
        max-width: 475px;
    }
    .header{
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .responsive-container {
        width: 100%;
    }
}
