.main-container,
.form-and-product-container{
    display: flex;
    font-family: Arial;
}

.main-container{
    justify-content: center;
    align-items: center;
    height: 70%;
}

.form-and-product-container{
    display: flex;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    column-gap: 20px;

}

.transaction-form-container {
    display: flex;
}


.transaction-form-input{
    margin-top: 20px;
    padding: 10px;
    flex: 1;
    font-size: 20px;
    width: 400px;
}

.transaction-form-input::placeholder{
    font-size: 20px;
}

.payment-methods-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 10px;
}

#payment-method-label{
    font-size: 30px;
    margin-bottom: 20px;
}

.payment-method{
    font-size: 20px;

}

.info-row{
    display: flex;
    column-gap: 20px;
}

.product-picture{
    width: 500px;
}

.transaction-purchase-button{
    border: none;
    margin-top: 20px;
    border-radius: 7px;
    padding: 10px 100px;
    width: 100%;
    background-color: limegreen;
    color: white;
    font-size: 30px;
    font-family: Arial;
}

.transaction-purchase-button:hover{
    cursor: pointer;
}

