@model CreditCard

<form asp-controller="CreditCard" asp-action="Create">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name on Card</label>
      <input type="text" class="form-control" placeholder="Name" asp-for="NameOnCard">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Card Number</label>
      <input type="text" class="form-control" placeholder="Card Number" asp-for="CardNumber">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Expiry</label>
    <input type="month" class="form-control" placeholder="Expiry" asp-for="Expiry">
  </div>
  <div class="form-group">
    <label for="inputAddress2">CVV</label>
    <input type="text" class="form-control" placeholder="CVV" asp-for="CVV">
  </div>
  <button type="submit" class="btn btn-primary">Add Credit Card</button>
</form>
