@model CreditCard
@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/general.css" rel="stylesheet" />

<header class="header">
    <partial name="_HeaderPartial" />
</header>

<div class="container shadow p-3 mb-5 bg-white rounded" style="font-size: 20px;">
    <form asp-controller="CreditCard" asp-action="Update">
      <input type="hidden" asp-for="ID" />
      <input type="hidden" asp-for="UserID" />
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Name on Card</label>
          <input type="text" class="form-control" placeholder="Name" asp-for="NameOnCard">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Card Number</label>
          <input type="text" class="form-control" placeholder="Card Number" asp-for="CardNumber">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress2">Expiry</label>
        <input type="month" class="form-control" placeholder="Expiry" asp-for="Expiry">
      </div>
      <div class="form-group">
        <label for="inputAddress2">CVV</label>
        <input type="text" class="form-control" placeholder="CVV" asp-for="CVV">
      </div>
      <div style="display: flex; justify-content: center;">
        <button style="font-size: 24px;width: 100%;" type="submit" class="btn btn-primary">Update Credit Card</button>
      </div>

    </form>
</div>

