@model Transaction

<form asp-controller="Transaction" asp-action="Create">

  <div class="form-row">
    <input type="hidden" asp-for="ProductID" />
    <input type="hidden" asp-for="CurrentProduct.Price" />
    <input type="hidden" asp-for="CurrentProduct.Name" />
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Quantity</label>
    <input type="text" class="form-control" placeholder="Quantity" asp-for="QuantityBought">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Email</label>
        <input type="text" class="form-control" placeholder="Email" asp-for="Email">
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Phone Number</label>
    <input type="text" class="form-control" placeholder="Phone Number" asp-for="PhoneNumber">
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Payment Method</label>
    <select asp-for="PaymentType">
        <option value="CreditCard">Credit Card</option>
        <option value="RewardPoints">Reward Points</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Purchase</button>
</form>

