@model TransactionViewModel

<form asp-controller="Transaction" asp-action="Create">

  <div class="form-row">
    <input type="hidden" asp-for="Transaction.ProductID" />
    <input type="hidden" asp-for="Transaction.CurrentProduct.Price" />
    <input type="hidden" asp-for="Transaction.CurrentProduct.Name" />
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input type="text" class="form-control" placeholder="First Name" asp-for="Transaction.FirstName">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input type="text" class="form-control" placeholder="Last Name" asp-for="Transaction.LastName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Quantity</label>
    <input type="text" class="form-control" placeholder="Quantity" asp-for="Transaction.QuantityBought">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Email</label>
    <input type="text" class="form-control" placeholder="Email" asp-for="Transaction.Email">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Phone Number</label>
    <input type="text" class="form-control" placeholder="Phone Number" asp-for="Transaction.PhoneNumber">
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Payment Method</label>
    <div class="form-check">
      <input class="form-check-input" type="radio"  value="CreditCard" name="Transaction.PaymentType" id="flexRadioDefault1" onclick="showDropdown()">
      <label class="form-check-label">Credit Card</label>
    </div>
    <div id="creditCardOptions" style="display: none;">
      <label for="creditCardOptions">Credit Card Options</label>
        @foreach (var card in Model.UserCards)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" value="@card.ID" name="ChosenCardID" id="creditCardOption1">
                <label class="form-check-label">@card.CardNumber</label>
            </div>
        }
    </div>
    <div class="form-check" >
      <input class="form-check-input" type="radio"  value="RewardPoints" name="Transaction.PaymentType" id="flexRadioDefault2" onclick="hideDropdown()" checked>
      <label class="form-check-label">Reward Points</label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Purchase</button>
</form>

<script>
    function showDropdown() {
        document.getElementById("creditCardOptions").style.display = "block";
    }

    function hideDropdown() {
        document.getElementById("creditCardOptions").style.display = "none";
    }
</script>
