@model Company

<form asp-controller="Company" asp-action="Create">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Company Name</label>
      <input type="text" class="form-control" placeholder="Name" asp-for="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Logo</label>
      <input type="text" class="form-control" placeholder="Logo" asp-for="Logo">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Register Company</button>
</form>
